body {
  font-family: 'Orbitron', sans-serif;
  height: 600px;
  background: url('images/charcoal-backdrop.jpg') no-repeat center center fixed;
}

.title-container {
  margin: auto;
  border-radius: 25%;
  margin-top: 40px;
  height: auto;
  width: 380px;
  position: center;
  background: white;
  border: 1px solid black;
  opacity: 0.8;
  background-image: linear-gradient(white, black );
}

h1  {
  height: 60px;
  text-align: center;
  padding: 25px;
  color: black;
  font-size: 2em;
}

img {
  width: 30px;
  height: 30px;
}

.add-link-form  {
  text-align: center;
}

#add-link-button {
  background-color: darkred;
  border: none;
  color: white;
  text-decoration: none;
  height: 25px;
  width: 75px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px black;
  font-family: 'Orbitron', sans-serif;
  display: block;
  position: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#add-link-button:hover {
  padding: 5px;
  background-color: black;
}

#add-link-button:disabled {
  cursor: not-allowed;
  color: lightgray;
  background: grey;
}

#add-link-button:active {
  background-color: gray;
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.linked-list li {
  text-decoration: none;
  margin-left: 20px;
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linked-list li a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.linked-list button {
  background: white;
}

h3, p {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  width: 200px;
  height: 25px;
  margin-left: 30px;
  padding-top: 5px;
  color: black;
  margin: auto;
  position: center;
  width: 125px;
  display: flex;
  align-items: center;
}

p {
  color: red;
  margin: auto;
  position: center;
  width: 125px;
  display: flex;
  align-items: center;
}

#linked-list button {
  background-color: darkred;
  border: none;
  color: white;
  text-decoration: none;
  height: 25px;
  width: 75px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px black;
  font-family: 'Orbitron', sans-serif;
  display: block;
  position: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

#linked-list button:hover {
  padding: 5px;
  background-color: black;
}

#linked-list button:disabled {
  cursor: not-allowed;
  color: lightgray;
  background: grey;
}

#linked-list button:active {
  background-color: gray;
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.mark-as-read {
  background-color: darkred;
  border: none;
  color: black;
  text-decoration: none;
  height: 30px;
  width: 75px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px black;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  display: block;
  position: center;
}

.remove-link {
  background-color: darkred;
  border: none;
  color: black;
  text-decoration: none;
  height: 30px;
  width: 20px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px black;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  display: block;
  position: center;
  margin-right: 5px;
}

hr {
  width:300px;
  box-shadow: 0 0 10px 1px black;
  height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
_____________
.count-totals {
  position: center;
  margin-left: auto;
  margin-top: 20px;
}

#clear-read-links-button {
  background-color: slategray;
  border: none;
  color: black;
  text-decoration: none;
  height: 20px;
  width: 110px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px black;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  display: block;
  position: center;
  margin: auto;
  margin-bottom: 10px;
}

#clear-read-links-button:disabled {
    cursor: not-allowed;
    color: lightgray;
    background: grey;
}

span {
  font-style: italic;
}

@media screen and (min-width: 900px) {
    body {
        background: url('images/charcoal-backdrop.jpg') no-repeat center center fixed;
      }
    }

    @media screen and (max-width: 550px) {
  .container {
    height: 100%;
  }
